<section class="main-container-outer-without-background">
  <app-gradient-left-to-right />

  <!-- Background Image -->
  <div
    class="absolute right-0 top-1/2 -z-30 h-[60%] w-full -translate-y-1/2 bg-cover bg-right sm:h-[80%] lg:h-full"
    style="background-image: url('assets/images/bus-1_side-left.png')"
  ></div>

  <div class="main-container">
    <!-- Content -->
    <div class="relative z-10 flex flex-col px-4 text-center sm:px-6 lg:w-3/5 lg:text-left">
      <div class="mb-6 sm:mb-8">
        <h3 class="section-subtitle">{{ 'MAIN.WHO_WE_ARE.SUBTITLE' | translate }}</h3>
        <h2 class="section-title">{{ 'MAIN.WHO_WE_ARE.TITLE' | translate }}</h2>
      </div>
      <p class="section-text">{{ 'MAIN.WHO_WE_ARE.CONTENT_1' | translate }}</p>
      <p class="section-text hidden sm:inline-block">{{ 'MAIN.WHO_WE_ARE.CONTENT_2' | translate }}</p>

      <!-- buttons -->
      <div class="mt-6 flex flex-col justify-center gap-3 sm:mt-4 sm:flex-row sm:gap-4 lg:justify-start">
        <a [routerLink]="['/', languageService.currentLang, 'about-us']" class="btn-primary-outline btn-md">{{ 'MAIN.WHO_WE_ARE.MORE_ABOUT_US_BUTTON' | translate }}</a>
        <a [routerLink]="['/', languageService.currentLang]" fragment="services" class="btn-primary btn-md !hidden sm:!inline-flex">{{
          'MAIN.WHO_WE_ARE.SERVICES_BUTTON' | translate
        }}</a>
        <a [routerLink]="['/', languageService.currentLang]" fragment="fleet" class="btn-primary btn-md">{{ 'MAIN.WHO_WE_ARE.FLEET_BUTTON' | translate }}</a>
      </div>
    </div>
  </div>
</section>
