<section class="main-container-outer !mt-[2vh] h-[98vh]">
  <!-- Fullscreen Background Video -->
  <video
    src="assets/videos/hero.mp4"
    playsinline
    autoplay
    muted
    loop
    oncanplay="this.play()"
    onloadedmetadata="this.muted = true"
    class="absolute left-0 top-0 z-0 h-full w-full object-cover"
  ></video>

  <!-- Overlay -->
  <div class="absolute inset-0 z-10 bg-neutral-900 bg-opacity-60"></div>

  <!-- Bottom Gradient -->
  <div
    class="z-15 pointer-events-none absolute bottom-0 left-0 right-0 h-full"
    style="background: linear-gradient(to top, #171717 5%, rgba(23, 23, 23, 0.8) 20%, rgba(23, 23, 23, 0.3) 50%, transparent 80%)"
  ></div>

  <!-- Scroll Indicator -->
  <div class="absolute inset-x-0 bottom-6 z-20 mx-auto w-fit animate-bounce">
    <mat-icon (click)="scrollDown()" svgIcon="down-arrow" class="second-text-hover h-6 w-6 cursor-pointer"></mat-icon>
  </div>
  <div class="main-container">
    <!-- Content -->
    <div class="relative z-20 flex h-full flex-col items-center justify-center px-4 sm:px-6 lg:px-8">
      <div class="hero-content">
        <h1 class="hero-main-title mt-4">{{ 'MAIN.HERO.TITLE' | translate }}</h1>
        <p class="hero-main-subtitle">
          {{ 'MAIN.HERO.CONTENT_FIRST' | translate }}
          <span class="hidden sm:inline">
            {{ 'MAIN.HERO.CONTENT_SECOND' | translate }}
          </span>
        </p>
        <div class="hero-cta">
          <a [routerLink]="['/', languageService.currentLang, 'contact-us']" class="btn-primary btn-lg">{{ 'MAIN.HERO.QUOTE_BUTTON' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
