<nav
  [class]="'fixed top-0 z-30 w-full text-white transition-colors duration-500 ' + (isScrolled ? 'bg-black bg-opacity-90 backdrop-blur-md' : 'bg-black')"
  [class.opacity-95]="isMenuOpen"
>
  <div class="flex w-full items-center justify-between px-4 py-6 lg:mx-auto lg:w-4/5 lg:px-6">
    <!-- Logo -->
    <a [routerLink]="['/', languageService.currentLang]" class="flex items-center gap-2">
      <img src="assets/images/logo_2.png" alt="Logo" class="h-10" />
    </a>

    <!-- Desktop Menu -->
    <div class="hidden items-center gap-6 lg:flex">
      <a href="tel:+38641720655" class="second-text-hover hidden items-center gap-1 xl:flex"><mat-icon svgIcon="telephone"></mat-icon>+386 41 720 655</a>
      <a [routerLink]="['/', languageService.currentLang, 'about-us']" class="btn-secondary-outline btn-xs">{{ 'NAVIGATION.ABOUT_US' | translate }}</a>
      <a [routerLink]="['/', languageService.currentLang, 'contact-us']" class="btn-primary-outline btn-xs">{{ 'NAVIGATION.CONTACT_US' | translate }}</a>
      <a [href]="coachSiteLangUrl" target="_blank" rel="noopener" class="btn-vip btn-xs">{{ 'NAVIGATION.VIP' | translate }}</a>
      <app-language-picker />
    </div>

    <!-- Hamburger Icon -->
    <button class="relative z-50 flex items-center justify-center lg:hidden" (click)="toggleMenu($event)">
      <!-- Cross Icon -->
      <mat-icon
        svgIcon="hamburger"
        class="second-text-hover h-6 w-6 transition-opacity duration-200"
        [ngClass]="{
          'pointer-events-auto opacity-100': !isMenuOpen,
          'pointer-events-none opacity-0': isMenuOpen
        }"
      ></mat-icon>
      <mat-icon
        svgIcon="cross"
        class="second-text-hover h-6 w-6 transition-opacity duration-200"
        [ngClass]="{
          'pointer-events-auto opacity-100': isMenuOpen,
          'pointer-events-none opacity-0': !isMenuOpen
        }"
      ></mat-icon>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div *ngIf="isMenuOpen" class="fixed top-0 z-40 flex w-full flex-col items-center gap-4 bg-black bg-opacity-90 px-6 py-16 backdrop-blur-md lg:hidden">
    <a [routerLink]="['/', languageService.currentLang, 'about-us']" class="btn-secondary-outline btn-md w-full" (click)="isMenuOpen = false">{{
      'NAVIGATION.ABOUT_US' | translate
    }}</a>
    <a [routerLink]="['/', languageService.currentLang, 'contact-us']" class="btn-primary-outline btn-md w-full" (click)="isMenuOpen = false">{{
      'NAVIGATION.CONTACT_US' | translate
    }}</a>
    <a [href]="coachSiteLangUrl" target="_blank" rel="noopener" class="btn-vip btn-md w-full" (click)="isMenuOpen = false">{{ 'NAVIGATION.VIP' | translate }}</a>
    <app-language-picker (languageChange)="isMenuOpen = false" />
    <a href="tel:+38641720655" class="section-text-hover flex items-center gap-1"><mat-icon svgIcon="telephone"></mat-icon>+386 41 720 655</a>
  </div>
</nav>
