<section class="!mt-12">
  <div class="main-container-outer-without-background">
    <app-gradient-left-to-right />
    <div
      class="absolute right-0 top-1/2 -z-30 h-[60%] w-full -translate-y-1/2 bg-cover bg-right sm:h-[80%] sm:w-[80%] lg:h-full lg:w-[70%]"
      style="background-image: url('assets/images/v-class_front.png')"
    ></div>

    <div class="main-container">
      <div class="relative z-10 flex flex-col px-4 text-center sm:px-6 lg:w-3/5 lg:text-left">
        <div class="mb-6 sm:mb-8">
          <p class="section-subtitle">{{ 'ABOUT_US.SUBTITLE_FIRST' | translate }}</p>
          <h2 class="section-title">{{ 'ABOUT_US.TITLE_FIRST' | translate }}</h2>
        </div>
        <p class="section-text mb-6">{{ 'ABOUT_US.CONTENT_FIRST' | translate }}</p>
        <p class="section-text">{{ 'ABOUT_US.CONTENT_SECOND' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="main-container-outer-without-background">
    <app-gradient-right-to-left />
    <div
      class="absolute left-0 top-1/2 -z-30 h-[60%] w-full -translate-y-1/2 bg-cover bg-left bg-no-repeat sm:h-[80%] sm:w-[80%] lg:h-full lg:w-[70%]"
      style="background-image: url('assets/images/c-class_front.png')"
    ></div>

    <div class="main-container">
      <div class="relative z-10 flex flex-col px-4 text-center sm:px-6 lg:ml-auto lg:w-3/5 lg:text-right">
        <div class="mb-6 sm:mb-8">
          <p class="section-subtitle">{{ 'ABOUT_US.SUBTITLE_SECOND' | translate }}</p>
          <h2 class="section-title">{{ 'ABOUT_US.TITLE_SECOND' | translate }}</h2>
        </div>
        <p class="section-text mb-6">{{ 'ABOUT_US.CONTENT_THIRD' | translate }}</p>
        <p class="section-text">{{ 'ABOUT_US.CONTENT_FORTH' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="main-container-outer">
    <div class="main-container text-center">
      <div class="mb-6 sm:mb-8">
        <p class="section-subtitle">{{ 'ABOUT_US.SUBTITLE_THIRD' | translate }}</p>
        <h2 class="section-title">{{ 'ABOUT_US.TITLE_THIRD' | translate }}</h2>
      </div>
      <p class="section-text">{{ 'ABOUT_US.CONTENT_FIFTH' | translate }}</p>
    </div>
  </div>
</section>
